@tailwind base;
@tailwind components;
@tailwind utilities;

/* Utility */
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }

html, body, #root { height: 100%; }
